@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #AEBABF, #8C8880);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 550px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #594636;
    text-align: center;
    text-shadow: 1px 1px 2px #3b2e24cc;

}

h2 {
    color: #8C8880;

}

p {
    text-align: justify;
}